.carttext
{
    text-align: center;
    font-size: 40px;
    font-family: 'Ibarra Real Nova', serif;
}
.maintable
{
    padding: 20px;
}
.pro
{
    max-height: 80%;
    max-width: 50%;
}
.proname
{
    font-size: 25px;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.proprice
{
    font-size: 20px;
    font-family: 'Padauk', sans-serif;

}
.thtable
{
    font-size: 25px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    color:#465DA8;

}
.imgdiv
{
    text-align: center;
    padding-top: 30px;
    padding-bottom: -10px;
}
.textdiv
{
    text-align: left;
    font-size: 20px;
    padding: 30px;
}
.removebutton
{
    font-size: 25px;
    font-family: 'Padauk', sans-serif;
}
.productgrid
{
    display: grid;
    grid-template-columns: auto auto;
}
.allquantity
{
    text-align: center;
}
.subtotal_all
{
    text-align: center;
}
.subtotaltext
{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.quaninput
{
    width:50px;
    height:30px;
    font-size: 20px;
}
.td1
{
    background-color: #E6E6E5;
}
.td2
{
    background-color:#F2F2F1;
}
.td3
{
    background-color:#F5F5F5;
}
.bottomgrid
{
    display: grid;
    grid-template-columns: auto auto;
}
.subtotaltax
{
    display: grid;
    grid-template-columns: auto auto;
}
.g1
{
    text-align: left;
    padding:30px;
    font-size: 20px;
}
.empty
{
    width: 480px;
}
.g1text
{
    font-size: 20px;
}
.g2
{
    text-align: right;
    padding:30px;
    font-size: 20px;
}
.g2text
{
    font-size: 20px;
}
.subtotaltax
{
    font-family: 'Poppins', sans-serif;
    border-top: 10px;
    border-right:0px;
    border-left:0px;
    border-bottom:10px;
    border-style: solid;
    border-color: red;
}