.allpro
{
    text-align: center;
    font-size: 40px;
    font-family: 'Ibarra Real Nova', serif;
}
.allproductsgrid
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 80px;
}
.allshirtspics
{
    max-height: 80%;
    max-width: 80%;
}
.name, .price
{
    font-size: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: left;
    padding-left: 20px;
}
.itemsperpagetext
{
    font-family: 'Padauk', sans-serif;
    font-size: 20px;
}
.allpages
{
    text-align: center;
    background-color: lightgrey;
}
.selectpage
{
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 150px;
    color: #465DA8;
    font-family: 'Padauk', sans-serif;
}
